---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://apps.apple.com/us/app/assassin-go/id6744044649" class="decoration-dashed text-primary underline-offset-8"> AssassinGo on Apple App Store </a>
    </p>
</footer>
